.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;

    background-color: #ff4603;
  }
.logo{
    width: 150px;
    height: 150px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/732/732228.png?w=740&t=st=1685282102~exp=1685282702~hmac=9beb35349374b23b35c4d2b481c879b9fae47ca779d497d19428ef24d6245a3b');
    background-position: center;
    background-size: cover;

}
.platofrms{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ceb3b1eb-2673-4dd9-a6e3-0cd7a5e130ee/4d2ee17a-526f-487b-9520-7a902b811698/PL-pl-20230522-popsignuptwoweeks-perspective_alpha_website_large.jpg")
}