.adv-conteiner {

    /* width: 300px;
    height: 300px; */
    padding-right: 20px;
   border-radius: 15px;
   border: 2px solid gray;
    margin-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.underline{
    width: 100%;
    border-bottom: 2px solid orangered;
}
.now{
    background-image:url('https://cdn.pixabay.com/photo/2021/02/13/16/56/screen-6012131_1280.png');
    height: 60vh;
}
.top{
    background-color: white;
}
.boom{
    min-width: 250px;
}