



  .card {
    position: relative;
    margin: 20px 20px;
    width: 300px;
    max-width: 300px;
    height: 400px;
    border: none;
    perspective: 800px;
  }
  .img {
    width: 100%;
    height: 100%;
   
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    transition: 0.8s;
  }
  .one {
    background-image: url("https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/6408f6e7b5811271dc883aa8_batman-min.png");
  }
  .text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 75%);
    opacity: 0;
    transition: 0.8s;
  }
  h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .text-one {
    transform: rotateX(-180deg);
  }
  .card:hover .text {
    transform: rotate(0);
    opacity: 1;
  }
  .card:hover .one {
    transform: rotateX(180deg);
    opacity: 0;
  }