.movie-card {
	position: relative;
	margin: 20px 20px;
	width: 300px;
	max-width: 300px;
	height: 400px;
	border: none;
	perspective: 800px;
	border-radius: 15px;
}
.img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 400px;
	border-radius: 15px;
	transition: 0.8s;
}
.one {
	background-position: center;
	background-size: cover;
}
.text {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	padding: 30px;
	border-radius: 15px;
	border: none;
	text-align: center;
	background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 75%);
	opacity: 0;
	transition: 0.8s;
	overflow: hidden;
}
.title{

	margin-bottom: 3px;
}
.text-one {
	transform: rotateX(-180deg);
}
.movie-card:hover .text {
	transform: rotate(0);
	opacity: 1;
}
.movie-card:hover .one {
	transform: rotateX(180deg);
	opacity: 0;
}
